!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Socialapp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |key, value|
      .alert{ class: "alert-#{key}" }
        %button.close{ data: { dismiss: :alert } } x
        %strong
          = value

    - unless current_user.nil?
      = link_to 'new message', new_message_path
      - unless request.path == edit_user_registration_path
        = link_to 'Profile settings', edit_user_registration_path
        \|
      = link_to 'Log out', destroy_user_session_path, method: :delete
    = yield
